<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
	
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div><br>
		<h2>Sentimental Detector For customer Reviews (HOTEL DE FRANCE, UK) </h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Review Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="11" cols="65"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>